body{
  background-color: rgb(0, 0, 0);
}
h1{
  color: white;
}
p{
  background-color: gray; color: white;
}

#p1{
  color: yellow;
}
#p2{
  color: tomato;
}
#p3{
  color: green;
}
#p4{
  color: pink;
}

.odd{
  color: tomato;
}
.even{
  color: blue;
}